img[alt*="Profile photo"] {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 50vmin;
  height: 50vmin;
}

.container-fluid {
    width: 100vmin;
    word-wrap: break-word;
    overflow: hidden;
}
