img[alt*="Kamil Dziedzic"] {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 60vmin;
  height: 60vmin;
}

h3:first-of-type,
h1:nth-of-type(2) {
    break-before: page;
}

.container-fluid {
    width: 100vmin;
    word-wrap: break-word;
    overflow: hidden;
}
