$font-size-base: 0.9rem !default;

img[alt*="Kamil Dziedzic"] {
  border-radius: 50%;
  margin: auto;
  display: block;
  width: 40vmin;
  height: 40vmin;
}

img[alt*="xyz"] {
  margin-right: 20px;
  display: block;
  width: 100px;
  float: left;
}

blockquote {
  overflow: auto;
}

@media print {
  h3:nth-of-type(2) {
    page-break-before: always;
  }
  .card-header {
    display: none !important;
  }
  .card {
    border: none !important;
  }

  img[alt*="Kamil Dziedzic"] {
    width: 700px;
    height: 700px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  body a {
    color: green;
  }
}

.container-fluid {
  width: 100vmin;
  word-wrap: break-word;
  overflow: hidden;
}

blockquote {
  background: #f9f9f9;
  border: none !important;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  text-align: justify;
}
blockquote p {
  display: inline;
}

cite {
  color: deepskyblue;
}

code {
  background: azure;
}
